
version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8081:8080"
    environment:
      # Using connection string approach for Neon
      - DATABASE_URL=postgresql://neondb_owner:npg_37yfWnhmMUAS@ep-spring-mode-agdpjosr-pooler.c-2.eu-central-1.aws.neon.tech/pos_cafe?sslmode=require&channel_binding=require
      # For Render deployment, use REDIS_URL (format: redis://username:password@host:port or rediss:// for SSL)
      - REDIS_URL=rediss://red-d4khn9k9c44c73ev9qo0:9yMrTdZtZ7iGkcmDYtb2uslcsWmC13OJ@frankfurt-keyvalue.render.com:6379
      - PORT=8080
      - JWT_SECRET=0Eksi3osk#s0@slk124jslkjd0J#JSKDj8#
      - JWT_EXPIRY=24h
      - ENVIRONMENT=production
    restart: unless-stopped
    networks:
      - pos_network

networks:
  pos_network:
    driver: bridge
